<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tour.batch.goods.dao.SampleMapper">


    <select id="getGoodsAddr" resultType="sample">
        SELECT BRAND_CD, BRAND_NM, SORT_NO, INS_DATE, INS_ID
        FROM T_BRAND
	</select>


</mapper>